p{
    color:green;
    font-family:Tahoma;

}

p1{
    font-family:Arial, Helvetica, sans-serif;
}

p2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}